/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

//リセットCSS

@import "_configuration";

$textcolor: #fff;

body {
  font-family: Noto Sans CJK JP;
}

img {
  max-width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Myriad Pro";
}

//header

.header {
  width: 100%;
  height: 200px;
  @media #{$sp}{
    height: 80px;
  }
  &__inr {
    width: 100%;
    margin-top: 25px;
    @media #{$sp}{
      width: 100%;
      height: 80px;
      margin: 0;
      background-color: #f3f3f3;
      z-index: 999;
      position: fixed;
    }
    .header__icon {
      display: flex;
      justify-content: flex-end;
      margin: 0 30px 30px 0;
      @media #{$sp}{
        display: none;
      }
      a {
        margin-left: 23px;
      }
      a:hover {
        opacity: 0.7;
      }
      a:first-child {
        margin: 0;
      }
    }

    .header__h1 {
      text-align: center;
      margin-bottom: 50px;
      @media #{$sp}{
        display: none;
      }
      a:hover {
        opacity: 0.7;
      }
    }

    .header__menu {
      margin-bottom: 100px;
      @media #{$sp}{
        display: none;
      }
      ul {
        display: flex;
        justify-content: center;
        li {
          margin-left: 45px;
          a {
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 0.15rem;
          }
          a:hover {
            opacity: 0.7;
          }
        }
        li:first-child {
          margin: 0;
        }
      }
    }
  }
}

.header__h1-sp{
  margin: 18px 0 0 30px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  img{
    max-width: 60%;
  }
}


#toggle {
  position: fixed;
  top: 3%;
  right: 10%;
}

#toggle-box {
  position: relative;
  width: 36px;
  height: 32px;
  cursor: pointer;
}

#toggle-box > span {
  width: 100%;
  height: 2px;
  left: 0;
  display: block;
  background: black;
  position: absolute;
  transition: transform 0.6s ease-in-out, top 0.5s ease, bottom 0.5s ease;
}

#toggle-box > span:nth-child(1) {
  top: 0;
}
#toggle-box > span:nth-child(2) {
  top: 50%;
  transform: translatey(-50%);
}
#toggle-box > span:nth-child(3) {
  bottom: 0;
}

#toggle {
  z-index: 1000;
}
#main {
  position: relative;
  z-index: 990;
}

#nav-content {
  z-index: 900;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: #f3f3f3;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  transform: translateX(100%);
  transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  padding-top: 50px;
}

#nav-content ul {
  list-style: none;
}

#nav-content a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 30px 0;
  transition: opacity 0.6s ease;
  font-size: 2.5rem;
}

#nav-content a:hover {
  opacity: 0.7;
  background-color: rgba(255,105,212,0.5);
  
}

#nav-content a:hover {
  opacity: 0.6;
}

.is-open {
  overflow: hidden;
}

.is-open #toggle-box > span {
  background: black;
}

.is-open #toggle-box > span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}

.is-open #toggle-box > span:nth-child(2) {
  width: 0;
}

.is-open #toggle-box > span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg) translatey(-50%);
}

.is-open #nav-content {
  z-index: 999;
  transform: translateX(0);
}

@media screen and (min-width: 767px) {
  #toggle, #nav-content {
    display: none;
  }
}


//mainvisual

.mainvisual{
  width: 100%;
  margin-top: 80px;
 .your-class{
   width: 1000px;
   margin: 0 auto;
   @media #{$tab}{
     width: 90%;
   }
   @media #{$sp}{
     width: 84%;
   }
 }
 @media #{$sp}{
   margin-top: 40px;
 }
}

//content

.content {
  width: 100%;
  background-color: #f3f3f3;
  padding: 67px 0 115px 0;
  position: relative;
  &__inr {
    width: 100%;
    display: flex;
    justify-content: center;
    @media #{$sp}{
      flex-direction: column;
      align-items: center;
    }
    .maincontent {
      margin-right: 50px;
      @media #{$sp}{
        margin: 0;
        padding: 0 10px;
        box-sizing: border-box;
      }
      &__block {
        display: flex;
        margin-bottom: 28px;
        .content__image {
          position: relative;
          img {
            height: auto;
          }
        }

        .content__image::before:last-child {
          content: none;
        }
        .content__text {
          padding: 25px;
          background-color: #fff;
          @media #{$sp}{
            padding: 10px;
          }
          @media screen and (max-width:920px) and (min-width:769px) {
            padding: 15px;
          }
          &-top {
            margin-bottom: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media #{$sp}{
              margin-bottom: 8px;
            }
            @media screen and (max-width:920px) and (min-width:769px) {
              margin-bottom: 12px;
            }
            .titme {
              color: #645b5b;
              font-size: 1.6rem;
              @media #{$sp}{
                font-size: 1.3rem;
              }
              @media screen and (max-width:380px) {
                font-size: 1rem;
              }
              @media screen and (max-width:920px) and (min-width:769px) {
                font-size: 1.5rem;
              }
              a:hover {
                opacity: 0.7;
              }
              a:before {
                content: "";
                background-image: url(../image/icon-time.png);
                width: 14px;
                height: 14px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 6px;
                vertical-align: baseline;
                @media screen and (max-width:380px) {
                  width: 10px;
                  height: 10px;
                }
              }
            }
            .category {
              width: 100%;
              max-width: 70px;
              height: 26px;
              color: #fff;
              background-color: #bfa34c;
              font-size: 1.4rem;
              position: relative;
              @media #{$sp}{
                font-size: 1.2rem;
                max-width: 55px;
                height: 25px;
              }
              @media screen and (max-width:380px) {
                font-size: 1rem;
                max-width: 50px;
                height: 20px;
              }
              @media screen and (max-width:920px) and (min-width:769px) {
                font-size: 1.3rem;
                width: 60px;
                height: 25px;
              }
              a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              a:hover {
                opacity: 0.7;
              }
            }
          }
          &-bottom {
            max-width: 285px;
            overflow: hidden;
            @media #{$sp}{
              width: 100%;
            }
            a {
              p {
                font-size: 2.2rem;
                font-family: "游ゴシック体";
                @media #{$sp}{
                  font-size: 1.4rem;
                  line-height: 1.5;
                }
                @media screen and (max-width:380px) {
                  font-size: 1rem;
                  line-height: 1.5;
                }
                @media screen and (max-width:920px) and (min-width:769px) {
                  font-size: 1.6rem;
                  line-height: 1.5;
                }
              }
            }
            a:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    .sidecontent {
      &__image {
        margin-bottom: 26px;
      }

      &__category {
        .category__list {
          font-size: 1.6rem;
          display: block;
          text-align: center;
          width: 300px;
          height: 51px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #bfa34c;
          color: #fff;
        }

        .category__menu {
          ul {
            li {
              font-size: 1.5rem;
              width: 300px;
              height: 55px;
              border: solid 1px #f3f3f3;
              background-color: #fff;
              position: relative;
              a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 26px;
              }
              a:hover {
                opacity: 0.7;
              }
            }
            .bordar-bottom-none {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

.new-item .content__image::before {
  content: "";
  background-image: url(../image/new.png);
  background-repeat: no-repeat;
  display: block;
  width: 84px;
  height: 78px;
  position: absolute;
  top: -2%;
  left: -2%;
  background-size: contain;
 @media #{$sp}{
   width: 55px;
   height: 50px;
 }
  @media screen and (max-width:380px) {
    width: 42px;
    height: 39px;
  }
}

.top {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

//footer

footer {
  width: 100%;
  margin: 44px auto 0 auto;
  .footer__inr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .footer__company {
      display: flex;
      align-items: center;
      padding-bottom: 40px;
      @media #{$sp}{
        flex-direction: column;
      }
      &-logo {
        a:hover {
          opacity: 0.7;
        }
        @media #{$sp}{
          margin-bottom: 40px;
        }
      }
      &-address {
        margin-left: 53px;
        font-size: 1.2rem;
        @media #{$sp}{
          text-align: center;
          margin: 0;
        }
        span {
          display: block;
          margin-top: 10px;
        }
      }
    }
    .footer-border {
      width: 100%;
      border-bottom: #f3f3f3 solid 2px;
    }
    .footer__guide {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      margin: 30px 0 26px 0;
      @media #{$sp}{
        flex-direction: column;
        text-align: center;
      }
      .sitemap {
        padding-left: 23px;
      }
      a:hover {
        opacity: 0.7;
      }
    }
  }

  .delimiter {
    position: relative;
    padding: 0 23px;
    @media #{$sp}{
      margin-bottom: 10px;
    }
  }

  .delimiter::after {
    content: "";
    display: block;
    height: 25px;
    border-right: 1px solid #ebe9e9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    @media #{$sp}{
      display: none;
    }
  }

  .copyright {
    font-size: 1.3rem;
  }
}
